@tailwind base;
@tailwind components;
@tailwind utilities;

.label {
    @apply block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1;
}

.input {
    @apply w-full rounded-md border-gray-300 dark:border-gray-700
    dark:bg-gray-800 dark:text-gray-200
    focus:border-indigo-500 focus:ring-indigo-500;
}
