@tailwind base;
@tailwind components;
@tailwind utilities;

.label {
    @apply block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1;
}

.input {
    @apply w-full rounded-md border-gray-300 dark:border-gray-700
    dark:bg-gray-800 dark:text-gray-200
    focus:border-indigo-500 focus:ring-indigo-500;
}

@layer components {
    .card {
        @apply
            bg-white dark:bg-gray-900
            border border-gray-200 dark:border-gray-700/60
            rounded-lg
            shadow-sm
            dark:shadow-[0_0_0_1px_rgba(255,255,255,0.05)];
    }
}
